body{
  margin:0;
  text-align: center;
  font-family:'Merriweather Light 300', serif;
  font-size:18px;
}
img{margin-top:35px;
  border-radius:50%;
  width:170px;
  height:185px;
}
h1{
  font-size:3.75rem;
   margin-top:50px auto 0 auto;
   font-family:'sacramento',cursive;
   color:#382933;
}
p{
  font-size:1.16rem;
}
h2{
  color:#065446;
  font-family:'Montserrat',sans-serif;
  font-size:1.875rem;

}
h3{
  color:#197163;
  font-family:'Montserrat',sans-serif;
  font-size:1.520rem;
}
div{
  background-color:#c8d5b9;
}
.top-container{
  background-color:#a4b494;
  position:relative;
  padding-top:100px;
}
